<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Single Test Run Suite">
  <parameter name="suiteMode" value="lambdatest"/>
  <test name="Run Single Test">
    <classes>
      <class name="testngsuite.HobbyClubTest">
        <methods>
          <include name="testPostAudioBuzz"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
